*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.212);
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    }
    @media (max-width:599px){
        body{
            margin-top: 1em;
        }
    }
    @media (min-width:600px){
        body{
            height: 100vh;
            align-items: center;
        }
    }
.new-project{
    width: 90%;
    max-width: 280px;
    background-color: white;
    box-shadow: 0px 0px 2px   rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.sectionA{
    background-color: rgba(9, 9, 192, 0.938);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
    
.my-image{
    width: 27%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    display: block;
    margin: auto;
    position: relative;
    top: 17px;
    border: 2px solid white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 10);
    outline: 2px solid rgba(12, 12, 241, 0.849);
}
.texts{
    margin-top: 1.5em;
    text-align: center;
}
.code-text{
    opacity: .9;
    }
    .text-youtube{
        opacity: .8;
        margin-top: .3em;
    }
    .font-awesome{
        display: flex;
        justify-content: center;
        margin-top: .7em
    }
    .awesome{
       margin:0 .7em;
       width: 23px;
       height: 23px;
       border-radius: 50%;
       font-size: .65rem;
       color: white;
       cursor: pointer;
    }
    .fa-brands.fa-facebook-f{
        background-color: rgb(12, 12, 59);
        text-align: center;
        line-height: 2.3;
        }
    .fa-brands.fa-twitter{
        background-color:rgb(4, 56, 77);
        text-align: center;
        line-height: 2.3;
    }
    .fa-brands.fa-instagram{
        background-color: rgb(163, 10, 10);
        text-align: center;
        line-height: 2.3;
    } 
    .fa-brands.fa-youtube {
        background-color: red;
        text-align: center;
        line-height: 2.3;
    }
      .button-text{
        text-align: center;
        margin-top: 1.1em;
      }
      button{
        color: white;
        background-color: rgba(13, 13, 196, 0.952);
        border: none;
        font-size: .7rem;
        font-weight: 400;
        padding: .7em 3em;
        border-radius: 20px;
        margin-right: 1em;
        cursor: pointer;
      }
      .font-text{
        display: flex;
        justify-content: center;
        margin: 1.4em 0;
      }
      .font-text .font1:last-child{
        border: none;
      }
      .font1{
        display: flex;
        align-items: center;
        margin-left: 1.5em;
        font-size: .8em;
        border-right-style: solid;
        padding-right: 1em;
        border-width: thin;
        border-right-color: rgba(0, 0, 0, 0.192);
      }
      .awesome1{
        position: relative;
        top: 1px;
        margin-right: .5em;
        cursor: pointer;
      }
      .fa-solid.fa-share{
        opacity: .2;
      }
      